@import url("./assets/fonts/Inter/stylesheet.css");

* {
  box-sizing: border-box;
}

:root {
  --wrapper-width: 1360px;
  --main-font: 'Inter', sans-serif;
  --bg-color: #181B22;
  --text-white: #fff;
  --text-tertiary: #4F5562;
  --green: #57D387;
  --brand-color: #7B58E8;
}


body {
  min-width: 320px;
  font-family: var(--main-font);
  background-color: var(--bg-color);
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: var(--wrapper-width);
  margin: 0 auto;
  padding: 0px 20px;
  display: flex;
  align-items: center;
}

.header {
  width: 100%;
  padding: 20px 0px;
}

.header__wrapper {
  justify-content: space-between;
}

.header__group {
  display: flex;
  align-items: center;
  gap: 60px;
}

.header__logo-group {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__logo-link {
  display: flex;
  align-items: center;
  gap: 12px;
}

.online-counter {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 4px 12px 4px 30px;
  border-radius: 8px;
  background: linear-gradient(90deg, #21242B 0%, rgba(33, 36, 43, 0.54) 100%);
}

.online-counter::after {
  content: '';
  position: absolute;
  left: 12px;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: var(--green);
  animation: indicator-pulse 1.5s infinite ease;
}

.online-counter__value {
  color: var(--text-white);
  font-size: 12px;
  font-family: Inter;
  font-weight: 600;
  line-height: calc((100 * 16) / 12 / 100);
}

.online-counter__label {
  color: var(--text-tertiary, #4F5562);
  font-size: 9px;
  font-family: Inter;
  font-weight: 500;
  line-height: calc(100 * 12 / 9 / 100);
}

.nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav__link {
  color: var(--text-primary, #858892);
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  line-height: calc(100 * 24 / 16 / 100);
  text-decoration: none;
}

.socials {
  display: flex;
  align-items: center;
  gap: 12px;
}

.socials__link {
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: #282D36;
}

.socials__link:hover path {
  fill: var(--brand-color);
}

.transaction-bar {
  width: 100%;
}

.swiper-slide {
  width: fit-content !important;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}

.transaction-bar__widget {

  width: fit-content;
  padding: 10px 12px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  border-radius: 4px;
  background: var(--background-dark, #21242B);
  user-select: none;
}


.transaction-bar__widget-username {
  color: var(--text-tertiary, #4F5562);
  font-size: 13px;
  font-family: Inter;
  line-height: 16px;
  transition: .13s;
}

.transaction-bar__widget-text {
  margin: 0;
  color: var(--text-tertiary, #4F5562);
  font-size: 13px;
  font-family: Inter;
  line-height: 16px;
  transition: .13s;
}

.transaction-bar__widget-text-value {
  color: var(--text-primary, #858892);
  font-size: 13px;
  font-family: Inter;
  font-weight: 600;
  line-height: 16px;
  transition: .13s;
}

.transaction-bar__widget:hover .transaction-bar__widget-text,
.transaction-bar__widget:hover .transaction-bar__widget-username {
  color: #858892;
}

.transaction-bar__widget:hover .transaction-bar__widget-text-value {
  color: #fff;
}

.main {
  width: 100%;
  margin-top: 40px;
}

.main__wrapper {
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}


.subheading {
  width: 100%;
  flex-shrink: 0.96;
  margin: 0;
  color: var(--text-white, #FFF);
  font-size: 40px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.main__heading {
  margin-top: 9px;
  margin-bottom: 41px;
}

.stats-list {
  width: 100%;
  margin-bottom: 32px;
  max-width: 648px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(156px, 1fr));
  gap: 8px;
}

.stats-block {
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  background: linear-gradient(90deg, #21242B 0%, rgba(33, 36, 43, 0.54) 100%);
}

.stats-block__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 2px;
}

.stats-block__value {
  color: var(--text-white, #FFF);
  font-size: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.stats-block__label {
  color: var(--text-tertiary, #4F5562);
  font-size: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.payment-form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.payment-form__heading {
  margin: 0;
  color: var(--text-tertiary, #4F5562);
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.payment-form__col {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}

.payment-form__group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 12px;
}

.payment-form__footer-menu {
  width: 100%;
}

.payment-form__fieldset {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.payment-form__fieldset--checkbox {
  margin-top: 21px;
  margin-bottom: 40px;
  justify-content: start;
  gap: 8px;
}

input[type="number"] {
  appearance: none;
}

.payment-form__input {
  width: 100%;
  background: none;
  border-radius: 8px;
  background: var(--background-dark, #21242B);
  border: none;
  padding: 20px;
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-white, #FFF);
  transition: .13s;
}

.payment-form__input:hover {
  background-color: var(--background-dark-l-ight, #2F333D);
}

.payment-form__input--error {
  outline: 2px solid var(--red, #F34949);
}

.payment-form__input:focus {
  border-radius: 8px;
  outline: 2px solid var(--stroke-active, #7B58E8);
  background-color: var(--background-dark-l-ight, #2F333D);
}

.payment-form__input::placeholder {
  color: var(--text-tertiary, #4F5562);
}

.payment-form__input--payment-icon {
  background-repeat: no-repeat;
  background-image: url("./assets/icons/pay-icon.svg");
  background-position: right 20px center;
}

.payment-form__fieldset-link {
  padding: 4px 10px;
  text-decoration: none;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 100px;
  background: var(--background-black, #181B22);
  color: var(--text-primary, #858892);
  font-size: 13px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  border: none;
  cursor: pointer;
}

.payment-form__price-menu {
  width: 100%;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(auto-fit, minmax(78.5px, 1fr));
}



.payment-form__price-menu-btn {
  width: 100%;
  padding: 20px 0px;
  background: var(--background-dark, #21242B);
  border: none;
  color: var(--text-primary, #858892);
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
  transition: .13s;
}

.payment-form__price-menu-btn:hover {
  background-color: var(--background-dark-l-ight, #2F333D);
}

.payment-form__price-menu-btn:active {
  transform: translateY(1px);
  outline: 1px solid var(--stroke-active, #7B58E8);
  background: var(--field-active, #272440);
}

.payment-form__price-menu-btn:first-child {
  border-radius: 12px 0px 0px 12px;
}

.payment-form__price-menu-btn:last-child {
  border-radius: 0px 12px 12px 0px;
}

.payment-form__checkbox:hover::after,
.payment-form__checkbox-input:checked+.payment-form__checkbox::after {
  opacity: 1;
}

.payment-form__checkbox-input:focus+.payment-form__checkbox {
  outline: 1px solid var(--stroke-active, #7B58E8);
}

.payment-form__checkbox {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 3px;
  background: var(--background-checkbox, #282D36);
}

.payment-form__checkbox--error {
  background: var(--red, #FF5252);

}


.payment-form__checkbox::after {
  content: '';
  width: 12px;
  height: 12px;

  opacity: 0;
  transition: .13s;
  background-image: url(./assets/icons/check-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.payment-form__checkbox--error::after {
  opacity: 1;
  visibility: visible;
  background-image: url(./assets/icons/white-check-icon.svg);
}

.payment-form__checkbox-label {
  color: var(--text-white, #FFF);
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.btn {
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  background: var(--brand-color, #7B58E8);
  color: var(--text-white, #FFF);
  font-size: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border: none;
  cursor: pointer;
  transition: .13s;
}

.btn:hover {
  background: var(--buttons-hover, #9E7FFF);
}

.btn:active {
  background: var(--buttons-click, #6948D2);
}

.btn:disabled {
  opacity: 0.550000011920929;
  background: var(--brand-color, #7B58E8);
}

.payment-form__radio-group {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
  margin-top: 12px;
  margin-bottom: 14px;
}

.payment-form__radio-wrapper {
  display: block;
}

.payment-form__radio-input {
  display: none;
}

.payment-form__radio-box {
  position: relative;
  width: 100%;
  height: 116px;
  border-radius: 12px;
  border: 1px solid var(--stroke-inactive, #282B33);
  background: var(--background-dark, #21242B);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .13s;
  cursor: pointer;
}

.payment-form__radio-box:hover {
  background: var(--field-hover, #2C3646);
}

.payment-form__radio-box::after {
  position: absolute;
  opacity: 0;
  right: 8px;
  bottom: 8px;
  visibility: hidden;
  transition: .13s;
  content: '';
  width: 20px;
  height: 20px;
  background-image: url(./assets/icons/selected-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.payment-form__radio-input:checked+.payment-form__radio-box {
  border: 1px solid var(--stroke-active, #7B58E8);
  background: var(--field-active, #272440);
}

.payment-form__radio-input:checked+.payment-form__radio-box::after {
  opacity: 1;
  visibility: visible;
}

.payment-form__radio-group--error {
  border-radius: 12px;
  outline: 2px solid var(--red, #F34949);
}

.payment-form__info-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 6px;
}

.payment-form__info-list-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.payment-form__info-list-row-label {
  color: var(--text-primary, #858892);
  font-size: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.payment-form__info-list-row-value {
  color: var(--brand-color, #7B58E8);
  text-align: right;
  font-size: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.payment-form__info-list-row-faq {
  position: relative;
  margin-right: auto;
  margin-left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.payment-form__info-list-row-faq-text {
  position: absolute;
  white-space: nowrap;
  top: -35px;
  padding: 8px 12px;
  color: var(--text-white, #FFF);
  font-size: 13px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  border-radius: 8px;
  background: var(--background-dark-l-ight, #2F333D);
  opacity: 0;
  transform: translateY(-100%);
  visibility: hidden;
  transition: .13s;
}

.payment-form__info-list-row-faq:hover .payment-form__info-list-row-faq-text {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
}

.footer {
  width: 100%;
  height: 72px;
  margin-top: auto;
  border-top: 1px solid var(--stroke-inactive, #282B33);
}

.footer__wrapper {
  justify-content: space-between;
}

.footer__right-group {
  display: flex;
  align-items: center;
  gap: 32px;
}

.footer__copyrights-link {
  border: none;
  background: none;
  color: var(--text-tertiary, #4F5562);
  font-size: 14px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  transition: .13s;
  padding: 0;
}

.footer__copyrights-link:hover {
  color: var(--text-primary, #858892);
}

.cols {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 30px;
}

.faq {
  margin-top: 40px;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}


.faq__text {
  margin-top: 16px;
  margin-bottom: 40px;
  color: #858892;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.faq__text-link {
  color: #7B58E8;
  text-decoration: none;
}

.faq__point-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
}

.faq__point-item {
  position: relative;
  width: 100%;
  border-radius: 16px;
  background: var(--background-dark-l-ight, #2F333D);
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 20px;
}


.faq__point-item-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-dark, #21242B);
}

.faq__point-item-counter {
  top: 16px;
  right: 16px;
  color: var(--text-tertiary, #4F5562);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  position: absolute;
}

.faq__point-item-heading {
  margin: 0;
  max-width: 234px;
  color: var(--text-white, #FFF);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 8px;
}

.accordion-item {
  width: 100%;
  min-height: 64px;
  max-height: 64px;
  overflow: hidden;
  transition: .35s;
  border-radius: 8px;
  background: var(--background-dark, #21242B);
  padding: 20px;
  cursor: pointer;
}




.accordion-item--active {
  max-height: 100%;
}

.accordion-item:hover .accordion-item__heading {
  color: var(--text-white, #FFF);
}

.accordion-item--active .accordion-item__heading {
  color: var(--text-white, #FFF);
  transition: .13s;
}

.accordion-item__heading {
  margin: 0;
  color: var(--text-primary, #858892);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  transition: .13s;
}

.accordion-item:hover .accordion-item__toggle-btn {
  background-image: url(./assets/icons/open-icon-purple.svg);
}

.accordion-item--active .accordion-item__toggle-btn {
  background-image: url(./assets/icons/close-icon.svg) !important;
}

.accordion-item__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.accordion-item__toggle-btn {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  background-image: url(./assets/icons/open-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: .13s
}

.accordion-item__content {
  width: 100%;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 30px;
}

.accordion-item__content p {
  margin: 0;
  color: var(--text-primary, #858892);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}


.popup-window {
  position: fixed;
  padding: 20px;
  width: 100%;
  height: 100%;
  background: rgba(24, 27, 34, 0.35);
  backdrop-filter: blur(7.5px);
  z-index: 1000;
  display: flex;
  overflow: auto;
  transition: .2s;
  opacity: 0;
  visibility: hidden;
}

.popup-window--active {
  opacity: 1;
  visibility: visible;
}

.popup {
  width: 100%;
  min-height: 327px;
  border-radius: 16px;
  background: var(--background-dark, #21242B);
  padding: 20px;
  margin: auto;
  overflow: auto;
  display: none;
}

.popup--active {
  display: initial;
}

.popup--contacts {
  max-width: 400px;
  height: fit-content;
}

.popup__header {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup__heading {
  margin: 0;
  color: var(--text-white, #FFF);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.popup__close-btn {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background: none;
  background-image: url(./assets/icons/close-popup-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.popup__text {
  margin: 0;
  color: var(--text-primary, #858892);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 16px;
}

.popup__text--red {
  text-transform: uppercase;
  color: #EF4242;
}

.popup__subheading {
  margin: 0;
  margin-bottom: 4px;
  color: var(--text-tertiary, #4F5562);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.popup__link {
  text-decoration: none;
  margin-bottom: 16px;
  display: inline-block;
  color: var(--brand-color, #7B58E8);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.popup--contacts .socials {
  margin-top: 12px;
}

.popup--politics {
  margin-top: 100px;
  max-width: 728px;
}

.popup__ordered-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 32px;
}

.popup__ordered-list-item-heading {
  margin: 0;
  margin-bottom: 12px;
  color: var(--brand-color, #7B58E8);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.popup__ordered-list-item-text-content {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 24px;
}

.popup__ordered-list-item-text {
  margin: 0;
  color: var(--text-primary, #858892);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}


.popup__ordered-list-subitem {
  width: 100%;
  margin-bottom: 12px;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  gap: 11px;
}



.popup__ordered-list-subitem-counter {
  color: var(--brand-color, #7B58E8);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.popup__ordered-list-item-text-link {
  text-decoration: none;
  color: #7B58E8;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}


.popup--rights {
  max-width: 736px;
}

.popup__ordered-list-subitem p {
  margin: 0;
}

.popup__ordered-list-item-defenition {
  margin-top: 16px;
  margin-bottom: 8px;
  color: var(--text-white, #FFF);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.popup__ordered-list-item-text--bold {
  color: var(--text-white, #FFF);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.popup--login {
  max-width: 728px;
}

.popup__img {
  width: 100%;
}

.popup--login .btn {
  margin-top: 24px;
  padding: 14px 28px;
}

.order {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.order__wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order-block {
  width: 100%;
  max-width: 728px;
  border-radius: 16px;
  overflow: hidden;
  background: var(--background-dark, #21242B);
}

.order-block__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 16px 16px 0px 0px;
  background: var(--background-dark-l-ight, #2F333D);
}

.order-block__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.order-status {
  padding: 6px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 100px;
}

.order-status__icon {
  display: grid;
  place-items: center;
}

.order-status__caption {
  white-space: nowrap;
  color: #858892;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.order-status--clock {
  background: rgba(255, 122, 0, 0.15);
}

.order-status--error {
  background: rgba(243, 73, 73, 0.15);
}

.order-status--ok {
  background: rgba(87, 211, 135, 0.15);
}

.order-status__caption--clock {
  color: var(--orange, #FF7A00);
}

.order-status__caption--error {
  color: var(--red, #F34949);
}

.order-status__caption--ok {
  color: var(--green, #57D387);
}

.order-block__body {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-block__login {
  padding: 6px 16px;
  border-radius: 40px;
  background: var(--background-black, #181B22);
  color: var(--text-tertiary, #4F5562);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.order-block__login-value {
  color: var(--text-white, #FFF);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.order-block__price {
  color: var(--text-white, #FFF);
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.order__footer {
  width: 100%;
  margin-top: 16px;
  max-width: 728px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order__footer-text {
  margin: 0;
  color: var(--text-tertiary, #4F5562);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.heading-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  gap: 24px;
}

.burger-btn {
  position: relative;
  z-index: 100;
  width: 24px;
  height: 24px;
  display: none;
  background: none;
  padding: 0;
  border: none;
  background-image: url(./assets/icons/burger-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: .13s;
}

.burger-btn--open {
  background-image: url(./assets/icons/close-burger-icon.svg);
}

.burger-window {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(24, 27, 34, 0.616);
  backdrop-filter: blur(7.5px);
  z-index: 99;
  display: flex;
  justify-content: end;
  overflow: auto;
  transition: .2s;
  opacity: 0;
  visibility: hidden;
}

.burger-window--active {
  opacity: 1;
  visibility: visible;
}

.no-scroll {
  overflow: hidden;
}

.burger-menu {
  width: 60%;
  height: 100%;
  background-color: #181B22;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  transform: translateX(100%);
  transition: .13s;
  visibility: hidden;
}

.burger-window--active .burger-menu {
  transform: translateX(0%);
  visibility: visible;
}

.burger-menu .nav {
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}

.burger-menu .nav a {
  color: #fff;
}

.accordion-item--active .accordion-item__header {
  height: unset;
}


@media (max-width:1280px) {
  .accordion-item__heading {
    font-size: 16px;
  }

  .accordion-item {}

  .accordion-item__content {
    margin-top: 24px;
  }
}

@media (max-width:1128px) {


  .accordion-item {
    padding: 16px;
  }
}


@media (max-width:1096px) {
  .cols {
    gap: 24px;
  }

  .popup--politics {
    margin-top: 24px;
  }

}

@media (max-width:1065px) {
  .payment-form__fieldset--checkbox {
    margin-bottom: 18px;
  }
}

@media (max-width:960px) {
  .faq {
    margin-top: 20px;
  }

  .nav {
    gap: 24px;
  }

  .subheading {
    font-size: 32px;
    line-height: 120%;
  }

  .row {
    flex-direction: column;
  }

  main {
    margin-top: 40px !important;
  }

  .main {
    margin-top: 0;
  }

  .payment-form__radio-group {
    width: 100%;
    display: flex;
    overflow-x: scroll;
  }

  .payment-form__radio-wrapper,
  .payment-form__radio-box {
    width: 176px;
  }

  .payment-form__radio-group {
    margin-bottom: 0;
  }

  .payment-form__fieldset--checkbox {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .payment-form__info-list {
    margin-top: 24px;
    margin-bottom: 100px;
  }

  .faq {
    margin-bottom: 100px;
  }

  .faq .col {
    width: 100%;
  }

  .faq__point-list {
    width: 100%;
  }

  .faq .cols {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 40px;
  }

}


@media (max-width:760px) {
  header .company-name {
    display: none;
  }

  .header__group,
  .footer__right-group {
    gap: 24px;
  }

  .subheading {
    margin-top: 0;
    margin-bottom: 24px;
  }

  .heading-group {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  .stats-list {
    max-width: unset;
  }

  .footer {
    height: unset;
    padding: 24px 0px;
  }

  .footer nav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 16px;
  }

  .footer__right-group {
    flex-direction: column;
    align-items: flex-end;
    align-self: end;
    justify-content: start;
    gap: 16px;
  }

  .footer__wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 16px;
  }
}

@media (max-width:575px) {

  .order-block__header {
    flex-direction: column;
    gap: 16px;
  }

  .order__footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
  }

  .order-block__body {
    flex-direction: column-reverse;
    gap: 16px;
    align-items: center;
  }


  .popup__heading {
    font-size: 18px;
    line-height: 120%;
  }

  .header nav {
    display: none;

  }

  .burger-btn {
    display: initial;
  }

  .subheading {
    font-size: 24px;
  }

  .payment-form__price-menu-btn {
    font-size: 13px;
  }

  .payment-form__radio-wrapper,
  .payment-form__radio-box {
    width: 120px;
    height: 90px;
  }

  .payment-form__checkbox-label {
    font-size: 13px;
    line-height: 16px;
  }

  .btn {
    padding: 14px 28px;
  }

  .payment-form__fieldset--checkbox {
    margin-bottom: 24px;
  }

  .payment-form__price-menu {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .payment-form__price-menu-btn {
    padding: 18px 0px;

  }

  .footer__right-group {
    align-self: unset;
  }
}

@media (max-width:475px) {
  .faq__point-list {
    grid-template-columns: 1fr;
  }
}

@media (max-width:425px) {
  .burger-menu {
    width: 75%;
  }

  .accordion-item__heading {
    font-size: 14px;
  }
}

@keyframes indicator-pulse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}